  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">WE ARE MAKING IT EASIER FOR PEOPLE TO PLAY SPORT
            Our App is on a mission to remove barriers to getting people active. Whether that's finding facilities, booking activities or connecting people in their local area, we want to simplify it all.</p>
        </div>

        

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/playgrounds">playgrounds</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/login">Log In</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
           
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
   </footer> 