<div class="jumbotron">
    <div class="container ">

      <br>
     
    <h1>FIND YOUR PLAYGROUND</h1>
    
    <br>
    <br>
    <br>
    <b><h3>
        Define your area<br>
        <br>
        Choose your playground<br>
        <br>
        Book your time
    </h3></b>
    <br>
    <br>
    <br>
   
    
    </div>
 </div>

 <section class="top">
    <div class="container">
       <div class="row">
           

         <div class="col-sm-4 text-center">
                 <i class="fas fa-search fontsize"></i>
            <h3 class="sg-heading__h3 text-uppercase mt-4">Find</h3>
            
            <p class="sg-mb-1 sg-mb-md-2">Are you looking to play after work, organise your Friday League team? Explore the largest network of sports facilities in Egypt. Simply enter your location, choose your playground and enjoy.</p>
        </div>




        <div class="col-sm-4 text-center">

          <i class="fas fa-calendar-week fontsize"></i>

         <h3 class="sg-heading__h3 text-uppercase mt-4">Book</h3>
        
         
         <p class="sg-mb-1 sg-mb-md-2">Once you’ve found the perfect playground, get booked in quicker and make easier payment. Connect with the venue through the enquiry form to make an online booking. We work with the best sports facilities in Egypt to simplify organising sport.</p>
     </div>



     <div class="col-sm-4 text-center">
   
      <i class="fas fa-futbol fontsize"></i>
      <h3 class="sg-heading__h3 text-uppercase mt-4">PLAY</h3>

      
      <p class="sg-mb-1 sg-mb-md-2">You’re the hero, you’ve found a stunning playground, booked with ease and now its time to play. The scene is set for your epic match, where dreams can be made or broken. Pain is only temporary but victory is forever, so leave nothing behind.</p>
  </div>


     


       </div>





    </div>

 </section>




 <section>
  
   <div class="container">

      <div class="row">
         
          <div class="col-sm-12">
         
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="imgedit" src="../../../assets/images/main-slider-img1.jpg">
                  </div>
                  <div class="carousel-item">
                    <img class="imgedit" src="../../../assets/images/slide7.jpg">
                  </div>
                  <div class="carousel-item">
                    <img class="imgedit" src="../../../assets/images/51.jpg">
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>



          </div> 
      </div>
   </div>
</section>
<br>
<br>
<br>

<section>
  <div class="container">

     <div class="row">

        

     </div>


  </div>
  </section>

