ul li{
    list-style-type: none;
    float: left;
    height: 400px;
    
    width: 160px;
}
a{
    color: pink;
    background-color: #746D76;
    font-family: initial;    
width: 300px;
    font-size: x-large;
}
a:hover{
    color: #746D76;
    background-color:pink ;
}


