main {
  margin-top:1rem;
  width: 50%;
  margin: 1rem auto;
}


mat-form-field,
textarea {
  width: 100%;
}
button{
    color:green
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

